<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="BridgePoint"
            id="com.mentor.tools.odometer">
      </category>
      <view
            name="BridgePoint Odometer"
            icon="icons/green-bp.gif"
            category="org.xtuml.bp.core.ui.viewcats.bp"
            class="org.xtuml.qa.odometer.views.OdoView"
            id="com.mentor.tools.odometer.views.OdoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.mentor.tools.odometer.views.OdoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.xtuml.qa.odometer.Activator"></startup>
   </extension>

</plugin>
