<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.31 $
 Modified:  $Date: 2013/03/13 22:18:45 $

 (c) Copyright 2004-2014 by Mentor Graphics Corp. All rights reserved.

 ========================================================================
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License.  You may obtain a copy
of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   See the
License for the specific language governing permissions and limitations under
the License.
 ======================================================================== 

-->
<plugin>

     <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener class="org.xtuml.bp.test.TestResultLogger"/>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
          delegate="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherDelegate"
          id="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherConfig"
          modes="run,debug"
          name="RestoreTest Launcher"
          public="true">

       </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
          class="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherTabGroup"
          id="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherTabGroup.restore"
          type="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherConfig">
       </launchConfigurationTabGroup>
   </extension>
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
          icon="icons/launcher.restore.png"
          configTypeID="org.xtuml.bp.test.launcher.restore.RestoreTestLauncherConfig"
          id="org.xtuml.bp.test.launchimage">
       </launchConfigurationTypeImage>
   </extension>
</plugin>