<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.antlr.eclipse.ui"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="org.antlr.eclipse.ui.AntlrUIPlugin">

   <runtime>
      <library name="antlrui.jar">
         <export name="*"/>
         <packages prefixes="org.antlr.eclipse.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.antlr.eclipse.core"/>
      <import plugin="org.antlr"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%antlrEditorName"
            icon="icons/full/obj16/antlr_file.gif"
            extensions="g"
            contributorClass="org.antlr.eclipse.ui.editor.AntlrActionContributor"
            class="org.antlr.eclipse.ui.editor.AntlrEditor"
            id="org.antlr.eclipse.ui.AntlrEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.g"
            id="org.antlr.eclipse.ui.actions.compile">
         <action
               label="%popupMenus.compile.label"
               class="org.antlr.eclipse.ui.actions.CompileAction"
               enablesFor="1"
               id="org.antlr.eclipse.ui.actions.compile">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.antlr.eclipse.ui.actions.convert">
         <action
               label="%popupMenus.toggle.label"
               class="org.antlr.eclipse.ui.actions.ConversionAction"
               enablesFor="1"
               id="org.antlr.eclipse.ui.actions.convert">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            label="%decorator.label"
            state="true"
            class="org.antlr.eclipse.ui.AntlrLabelDecorator"
            id="org.antlr.eclipse.ui.decorator">
         <description>
            %decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <scope
            name="%category.name"
            parent="org.eclipse.jdt.ui.javaEditorScope"
            description="%category.description"
            id="org.antlr.ui.antlrEditorScope">
      </scope>
      <command
            name="%command.gotoRule.name"
            description="%command.gotoRule.description"
            category="org.eclipse.ui.category.navigate"
            id="org.antlr.eclipse.ui.edit.goto.rule">
      </command>
      <keyBinding
            string="F3"
            scope="org.antlr.ui.antlrEditorScope"
            command="org.antlr.eclipse.ui.edit.goto.rule"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferences.editor.name"
            class="org.antlr.eclipse.ui.preferences.EditorPreferencePage"
            id="org.antlr.eclipse.ui.preferences.editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="%properties.grammar.name"
            nameFilter="*.g"
            class="org.antlr.eclipse.ui.properties.GrammarPropertyPage"
            id="org.antlr.eclipse.ui.properties.grammar">
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%properties.code.name"
            nameFilter="*.java"
            class="org.antlr.eclipse.ui.properties.CodePropertyPage"
            id="org.antlr.eclipse.ui.properties.code">
      </page>
   </extension>

</plugin>
