/*.java
!/EclipseOoaofooa.java
!/OoaofooaBase.java
!/PropertyViewListener.java
!/ResourceChangeListener.java
!/ResourceUpdaterModelChangeListener.java
!/Search_c.java
!/Vm_c.java
!/XtUMLNature.java
