/* 
 * Set up general fonts, sizes and colors 
 */
body { font-family : Arial, sans-serif; }

H1, H2, H3, H4, p, a { color : #4D4D4D; }

.intro-header H1 {
	font-size : 16pt;
	font-weight : bold;
	text-align : center;
    color: #ef621a;
}

.root-header H1 {
	font-size : 24pt;
	font-weight : bold;
	color : #FFFFFF;
	text-align : center;
}

.intro-message H1 {
	font-size : 12pt;
	font-weight : bold;
	font-style : italic;
	color : #c87457;
	text-align : center;
}

h2 {
	font-size : 13pt;
	font-weight : normal;
	color : #7B8694;
    /*color: #2e5790;*/
}
/* For regular div labels */
H4 .div-label {
	font-size : 10pt;
	font-weight : bold;
}

/* For the main page content's title */
#content-header H4 .div-label {
	font-size : 14pt;
	font-weight : normal;
	color : #8C96A2;
	float : none;
	clear : both;
}

.page-description { 
	font-size : 10pt;
	float : none;
	clear : both;
}

a {
	font-weight : bold;
	text-decoration : none;
}

a .link-label {
	font-size : 10pt;
	font-weight : normal;
}

#navigation-links a .link-label {
	font-size : 9pt;
	font-weight : normal;
	color : #FFCC00;
}

#navigation-links a p .text {
	font-size : 8pt;
	font-weight : normal;
	color : #FFCC00;
}

a .text {
	font-size : 8pt;
	font-weight : normal;
}

p .group-description {
	font-size : 10pt;
	font-weight : normal;
}


/* 
 * Set up other general properties like padding/margins
 */
html, body { width : 100%; height : 100%; }

html, body, div, h1, h4, p, a { margin : 0px; padding : 0px; }

.intro-header H1 { padding-top : 10px; margin-left : 10px; }

/* Needed in IE to get shift+tab to show the active image properly */
a:active {
	border : solid 0px;
}

a img {
	border-width : 0;
	background-repeat : no-repeat;
}

/*
 * to get scrollbars working in both IE and Mozilla
 */
html,body { overflow: auto; }
html>body { overflow: visible; }

/*
 * Set up the body, decorative background, and navigation for the content 
 * pages. 
 * Note: the root page handles its own background and navigation; these
 * settings primarily apply to the content pages
 */
body {
	background-color : #FFFFFF;
	background-repeat : no-repeat;
	background-position : bottom right;
}

#background-image {
	width : 100%;
	min-width : 770px;
	height : 164px;
	background-image : url(graphics/contentpage/background.jpg);
	background-repeat : no-repeat;
	background-position : top left;	
	position : absolute;
	top : 0px;
	z-index : -100;
}

.intro-header {	background-color : transparent; z-index : 100;}

body, .page{
	min-width : 770px;
	/* since IE doesn't support min-width, try expression */
	width:expression(document.body.clientWidth < 770? "770px": "auto" );
	min-height : 425px;
	height : 100%;
	height : expression(document.body.clientHeight < 425? "425px": "100%" );
}

.page { 
	background-image : url(graphics/contentpage/wordmark.gif);
	background-repeat : no-repeat;
	background-position : bottom left;
	min-height : 475px;
}


/* 
 * Lay out the navigation links 
 * (Root page does something similar for its navigation)
 */
#navigation-links {
	position : relative;
	left : 10px;
	top : 5px;
	height : 60;
	width : 98%;
}

#navigation-links a {
	padding-left : 5px;
	padding-right : 5px;
	float : left;
	text-align : center;
}

#navigation-links a img {
	height : 52px;
	width : 52px;
	vertical-align : middle;
}

#navigation-links a .link-label { display : block; margin-top : 5px;}

#navigation-links a .text { display : none; }

#navigation-links a:hover, 
#navigation-links a:focus 
#navigation-links a:active { border-right : 0px;}

/* properties for each of the navigation-links  */
/*#navigation-links a#quickstart img { background-image : url(graphics/icons/etool/tutorials48.gif); }*/
#navigation-links a#quickstart img { background-image : url(graphics/icons/etool/arrow_blue.gif); }
#navigation-links a#quickstart:hover img,
#navigation-links a#quickstart:focus img,
#navigation-links a#quickstart:active img { background-image : url(graphics/icons/ctool/arrow_orange.gif); }
/*#navigation-links a#quickstart:active img { background-image : url(graphics/icons/ctool/tutorials48.gif); }*/

#navigation-links a#back { position : absolute;  left : 0px; top : 10px; text-align : left;}
#navigation-links a#back img { background-image : url(graphics/icons/dtool/back.gif); }
#navigation-links a#back:hover img,
#navigation-links a#back:focus img,
#navigation-links a#back:active img { background-image : url(graphics/icons/etool/back.gif); }

#navigation-links a#demos img { background-image : url(graphics/icons/etool/demos48.gif); }
#navigation-links a#demos:hover img,
#navigation-links a#demos:focus img,
#navigation-links a#demos:active img { background-image : url(graphics/icons/ctool/demos48.gif); }

#navigation-links a#workbench { position : absolute;  right : 0px; top : 0px; text-align : right;}
#navigation-links a#workbench .text { display : none; }
#navigation-links a#workbench img { background-image : url(graphics/icons/etool/wb48.gif); width : 53px; height : 53px;}
#navigation-links a#workbench:hover img,
#navigation-links a#workbench:focus img,
#navigation-links a#workbench:active img { background-image : url(graphics/icons/ctool/wb48.gif); }

/* 
 * Lay out the page title and description 
 */
h1, p { margin-left : 10px; } /* required in mozilla so the page description is properly indented */

/* position the page content so that the page title overlays the bottom
 * of the background image, but make sure the content is always on top 
 * (using z-index) */
#page-content {
	background-repeat : no-repeat;
	background-position : bottom right;
	height : 70%;

	float : none;
	clear : both;
	text-align : center;
}

.page > #page-content { margin-top : 50px; }

#page-content p { 
	padding-bottom : 15px; 
	text-align : left; 
	float : none;
	clear : both;
}

#page-content #content-header H4, .page-description {
	text-align : left;
	margin-right : 10px;
	float : none;
	clear : both;
	color : #000000	
}

/* For regular div labels */
#page-content div H4 {
	padding : 10px;
	padding-bottom : 0px;
	color : #FFCC00;
}

/* For the main page content's div label */
#page-content #content-header H4 {
	padding-top : 50px;
	padding-bottom : 10px;
	text-align : center;
}

/* special case for Mozilla's main content-header label.
   Mozilla 1.4 needs more room at the top */
#page-content > #content-header H4 { padding-top : 60px; text-align : center; }
