<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.xtuml.ui.docgen.makeDocument"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.xtuml.bp.docgen.contribution1"
            objectClass="org.xtuml.bp.core.SystemModel_c">
         <action
               class="org.xtuml.bp.docgen.actions.makeDocumentationAction"
               enablesFor="1"
               id="org.xtuml.bp.docgen.makeDocumentationAction"
               label="Create Documentation"
               menubarPath="org.xtuml.bp.utilities/org.xtuml.bp.utilities.separator">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.Createdocumentation" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
   </extension>
  <extension point="org.eclipse.ant.core.antTasks">
    <antTask
          class="org.xtuml.bp.docgen.ant.tasks.DocGenTask"
          eclipseRuntime="true"
          headless="true"
          library="docgen.jar"
          name="document.Emitter"/>
  </extension>
</plugin>
