<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension point="org.eclipse.ui.startup">
       <startup class="org.xtuml.bp.mc.xmiexport.XMIExport"/>
   </extension>

<!-- ======================================================= -->
<!-- Nature/Builder definitions                              -->
<!-- ======================================================= -->
   <extension
         id="XMIExportNature"
         name="XMI 2.1 Export Nature"
         point="org.eclipse.core.resources.natures">
       <builder
            id="org.xtuml.bp.mc.xmiexport.XMIExportBuilder">
      </builder>
      <builder
            id="com.mentor.nucleus.bp.mc.xmiexport.XMIExportBuilder">
      </builder>
   </extension>

   <extension id="XMIExportBuilder" name="XMI 2.1 Export" point="org.eclipse.core.resources.builders">
  <builder
       hasNature="true"
       isConfigurable="true" >
    <run class="org.xtuml.bp.mc.xmiexport.XMIExportBuilder"></run>
  </builder>
   </extension>

   <extension id="com.mentor.nucleus.bp.mc.xmiexport.XMIExportBuilder" name="XMI 2.1 Export" point="org.eclipse.core.resources.builders">
  <builder
       hasNature="true"
       isConfigurable="true" >
    <run class="org.xtuml.bp.mc.xmiexport.XMIExportBuilder"></run>
  </builder>
   </extension>

   <extension point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="platform:/plugin/org.xtuml.bp.core/icons/xtuml-nature.gif"
            natureId="org.xtuml.bp.mc.xmiexport.XMIExportNature"
            id="org.xtuml.resoures.natureimage">
      </image>
   </extension>

</plugin>
