<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.antlr.eclipse.core"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="org.antlr.eclipse.core.AntlrCorePlugin">

   <runtime>
      <library name="antlrcore.jar">
         <export name="*"/>
         <packages prefixes="antlr,org.antlr.eclipse.core"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.antlr"/>
   </requires>


   <extension
         id="antlrnature"
         name="%antlrNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.antlr.eclipse.core.AntlrNature">
         </run>
      </runtime>
      <builder
            id="org.antlr.eclipse.core.antlrbuilder">
      </builder>
   </extension>
   <extension
         id="antlrbuilder"
         name="%antlrBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.antlr.eclipse.core.builder.AntlrBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="g">
      </fileTypes>
   </extension>

</plugin>
