<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
===================================================================
File:      $RCSfile: plugin.xml,v $
Version:   $Revision: 1.90 $
Modified:  $Date: 2013/06/24 14:48:14 $

(c) Copyright 2006-2014 by Mentor Graphics Corp. All rights reserved.

===================================================================
Licensed under the Apache License, Version 2.0 (the "License"); you may not 
use this file except in compliance with the License.  You may obtain a copy 
of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT 
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   See the 
License for the specific language governing permissions and limitations under
the License.
===================================================================
This file is the plugin manifest for the BridgePoint Model Explorer
plugin.
===================================================================
-->
<plugin>

     <extension
         id="org.xtuml.bp.ui.explorer.viewer"
         name="Model Explorer"
         point="org.eclipse.ui.views">
      <view
            name="Model Explorer"
            icon="platform:/plugin/org.xtuml.bp.core/icons/green-bp.gif"
            category="org.xtuml.bp.core.ui.viewcats.bp"
            class="org.xtuml.bp.ui.explorer.ExplorerView"
            id="org.xtuml.bp.ui.explorer.ExplorerView">
      </view>
   </extension>
   <extension
         id="org.xtuml.bp.ui.explorer.mon_viewer"
         name="Monitor"
         point="org.eclipse.ui.views">
      <view
            name="Spotlight"
            icon="platform:/plugin/org.xtuml.bp.core/icons/green-bp.gif"
            category="org.xtuml.bp.core.ui.viewcats.bp"
            class="org.xtuml.bp.ui.explorer.MonitorView"
            id="org.xtuml.bp.ui.explorer.MonitorExplorerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts/contexts.xml"/>
   </extension>
   <extension
         id="xtumlproblem"
         name="xtUML Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <extension point="org.eclipse.ui.decorators">
   <decorator
         class="org.xtuml.bp.ui.explorer.decorators.SynchronizationDecorator"
         id="org.xtuml.bp.ui.explorer.synchronizationDecorator"
         label="BridgePoint Synchronization Decorator"
         lightweight="true"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.xtuml.bp.core.common.NonRootModelElement">
            </objectClass>
         </or>
      </enablement>
   </decorator>
   <decorator
         class="org.xtuml.bp.ui.explorer.decorators.StaleServiceDecorator"
         id="org.xtuml.bp.ui.explorer.staleServiceDecorator"
         label="BridgePoint Stale Service Decorator"
         lightweight="true"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.xtuml.bp.core.common.NonRootModelElement">
            </objectClass>
         </or>
      </enablement>
   </decorator>
   </extension>

</plugin>
