<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.antlr.doc"
   name="%pluginName"
   version="2.7.2"
   provider-name="%providerName">

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
