<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xtuml.bp.ui.graphics.editorTab">
      <EditorTab
            EditorTabFactory="org.xtuml.bp.core.editors.focus.factories.MetamodelTabFactory"
            EditorTitle="Tree Editor"
            Input="org.xtuml.bp.core.common.NonRootModelElement">
      </EditorTab>
      <EditorTab
            EditorTabFactory="org.xtuml.bp.core.editors.association.factories.AssociationEditorTabFactory"
            EditorTitle="Associations Editor"
            Input="org.xtuml.bp.core.Package_c"
            SelectionInput="org.xtuml.bp.core.Association_c"
            childObject="org.xtuml.bp.core.Association_c"
            focusBased="false"
            selectionInput="org.xtuml.bp.core.Association_c">
      </EditorTab>
   </extension>
</plugin>
