<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xtuml.bp.ui.graphics.editorTab">
   <extension-point id="org.xtuml.bp.core.editors.editorTab" name="Model Editor Tab" schema="schema/editorTab.exsd"/>
   <extension
         point="org.xtuml.bp.core.editors.editorTab">
      <EditorTab
            EditorTabFactory="org.xtuml.bp.core.editors.tree.factories.MetamodelTabFactory"
            EditorTitle="Model Tree Editor"
            Input="org.xtuml.bp.core.common.NonRootModelElement"
            focusBased="true">
      </EditorTab>
      <EditorTab
            EditorTabFactory="org.xtuml.bp.core.editors.association.factories.AssociationEditorTabFactory"
            EditorTitle="Associations Editor"
            Input="org.xtuml.bp.core.Package_c"
            SelectionInput="org.xtuml.bp.core.Association_c"
            childObject="org.xtuml.bp.core.Association_c"
            focusBased="false"
            selectionInput="org.xtuml.bp.core.Association_c">
      </EditorTab>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=org.xtuml.bp.ui.context-internal">
         <dynamic
               class="org.xtuml.bp.core.editors.association.actions.ConfigureAssociationContributionItem"
               id="org.xtuml.bp.core.editors.ConfigureAssociation">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.xtuml.bp.core.editors.ModelEditor"
            default="false"
            icon="icons/search.png"
            id="org.xtuml.bp.core.editors.ModelEditor"
            name="Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.xtuml.bp.core.editors.openModelEditor"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.xtuml.bp.core.editors.actions.OpenModelEditorAction"
               id="org.xtuml.bp.core.editors.OpenModelEditorAction"
               label="Open Model Editor"
               menubarPath="popup:org.eclipse.popup.ui.any?before=additions">
         </action>
      </objectContribution>
   </extension>
</plugin>
