<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mentor.nucleus.bp.welcome"
   name="BridgePoint UML Welcome Plug-in"
   version="4.2.1"
   provider-name="xtUML.org"
   class="com.mentor.nucleus.bp.welcome.WelcomePlugin">

   <runtime>
      <library name="welcome.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.mentor.nucleus.bp.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="com.mentor.nucleus.bp.io.core"/>
      <import plugin="com.mentor.nucleus.bp.utilities"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="com.mentor.nucleus.bp.cdt"/>
      <import plugin="com.mentor.nucleus.bp.ui.canvas"/>
      <import plugin="com.mentor.nucleus.bp.ui.graphics"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="com.mentor.nucleus.bp.ui.explorer"/>
      <import plugin="com.mentor.nucleus.bp.ui.text"/>
      <import plugin="com.mentor.nucleus.bp.debug.ui"/>
      <import plugin="com.mentor.nucleus.bp.ui.session"/>
      <import plugin="org.eclipse.debug.core"/>
   </requires>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/bp16.gif"
            id="com.mentor.nucleus.bp.welcome.intro"/>
      <introProductBinding
            introId="com.mentor.nucleus.bp.welcome.intro"
            productId="com.mentor.nucleus.bp.pkg.BridgePoint"/>
   </extension>
   <extension
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            content="$nl$/introContent.xml"
            id="com.mentor.nucleus.bp.welcome.config"
            introId="com.mentor.nucleus.bp.welcome.intro">
         <presentation
               home-page-id="root"
               standby-page-id="stand-by">
            <implementation
                  kind="html"
                  style="css/shared.css"/>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.mentor.nucleus.bp.cheatsheets"
            name="BridgePoint">
      </category>
      <cheatsheet
            category="com.mentor.nucleus.bp.cheatsheets"
            composite="true"
            contentFile="cheatsheets/SimpleSystem.xml"
            id="com.mentor.nucleus.bp.welcome.SimpleSystem"
            name="Modelling A Simple System">
      </cheatsheet>
      <cheatsheet
            category="com.mentor.nucleus.bp.cheatsheets"
            composite="false"
            contentFile="cheatsheets/HeartPacerCaseStudy.xml"
            id="com.mentor.nucleus.bp.welcome.HeartPacerCaseStudy"
            name="Heart Pacer Case Study">
      </cheatsheet>
   </extension>

    <!---
        We're using $nl$ in the context to provide support for localization
        based on the national language of the target platform, which is selected
        as a parameter for the JVM. For this to work a folder named nl must be
        created at the plugin root folder and then folders for all the languages
        should be created with the translated content files in them. For example
        if a welcome page in japanese is created, its path should be
        plugin root/nl/ja/JP and the name should be the same (introContent.xml).
        Eclipse searches for this file in the following order: first it will
        look in the country folder: plugin root/nl/ja/JP. If the file is not
        found in there it will look in the language folder: plugin root/nl/ja.
        If no file is found then it will search for the file in plugin root/.
        This way we make sure that at least we show the english version if
        nothing else is available.
      -->

</plugin>
