<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="bp4 - ConvertInformalDiagramsToGenerics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="bp4 - Core Test - Existing Projects Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.10.name" value="bp4 - Core Test Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.11.name" value="bp4 - Debug - Verifier Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.12.name" value="bp4 - Debug - Verifier Test 2"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.13.name" value="bp4 - IO MDL PkgCM Tests Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.14.name" value="bp4 - IO MDL Tests 2 Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.15.name" value="bp4 - IO MDL Tests Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.16.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.16.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.16.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.16.name" value="bp4 - IO SQL Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.17.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.17.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.17.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.17.name" value="bp4 - Model Compare Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.18.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.18.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.18.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.18.name" value="bp4 - Parse All Test Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.19.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.19.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.19.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.19.name" value="bp4 - Search Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="bp4 - Core Test - RTO Move"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.20.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.20.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.20.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.20.name" value="bp4 - UI Canvas CCP Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.21.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.21.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.21.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.21.name" value="bp4 - UI Canvas Suite 1"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.22.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.22.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.22.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.22.name" value="bp4 - UI Canvas Suite 2"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.23.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.23.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.23.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.23.name" value="bp4 - UI Explorer Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.24.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.24.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.24.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.24.name" value="bp4 - UI Properties Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.25.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.25.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.25.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.25.name" value="bp4 - UI Text Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.26.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.26.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.26.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.26.name" value="bp4 - UseGlobals Core Test - System Level Tests"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.27.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.27.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.27.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.27.name" value="bp4 - UseGlobals Core Test 2 Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.28.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.28.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.28.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.28.name" value="bp4 - UseGlobals Core Test Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.29.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.29.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.29.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.29.name" value="bp4 - UseGlobals Debug - Verifier Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="bp4 - Core Generic Upgrade Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.30.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.30.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.30.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.30.name" value="bp4 - UseGlobals IO MDL PkgCM Tests Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.31.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.31.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.31.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.31.name" value="bp4 - UseGlobals IO MDL Tests 2 Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.32.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.32.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.32.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.32.name" value="bp4 - UseGlobals IO MDL Tests Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.33.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.33.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.33.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.33.name" value="bp4 - UseGlobals Parse All Test Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.34.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.34.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.34.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.34.name" value="bp4 - UseGlobals UI Canvas CCP Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.35.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.35.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.35.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.35.name" value="bp4 - UseGlobals UI Canvas Suite 1"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.36.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.36.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.36.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.36.name" value="bp4 - UseGlobals UI Canvas Suite 2"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.37.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.37.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.37.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.37.name" value="bp4 - UseGlobals UI Explorer Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.38.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.38.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.38.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.38.name" value="bp4 - UseGlobals UI Properties Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.39.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.39.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.39.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.39.name" value="bp4 - UseGlobals UI Text Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="bp4 - Core Test - System Level TestsGenerics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.40.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.40.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.40.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.40.name" value="bp4 - Welcome Test"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.name" value="bp4 - Core Test - Workspace Setup Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.name" value="bp4 - Core Test 2 - Consistency"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.7.name" value="bp4 - Core Test 2 Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.8.name" value="bp4 - Core Test 3 Generics"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.enabled" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.mode" value="debug"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.9.name" value="bp4 - Core Test 4 Generics"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
</launchConfiguration>
