<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mentor.nucleus.bp.dap.pkg"
   name="BridgePoint Generator"
   version="4.0.6"
   provider-name="Mentor Graphics"
   class="com.mentor.nucleus.bp.dap.pkg.Unreferenced">

   <runtime>
      <library name="pkg.jar"/>
   </runtime>
   <requires>
   </requires>
</plugin>
