<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.40.8.1 $
 Modified:  $Date: 2013/07/26 10:13:29 $

 (c) Copyright 2005-2014 by Mentor Graphics Corp. All rights reserved.

 ========================================================================
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License.  You may obtain a copy
of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   See the
License for the specific language governing permissions and limitations under
the License.
 ======================================================================== 

-->
<plugin
   id="com.mentor.nucleus.bp.internal.tools"
   name="BridgePoint Tools Plug-in"
   version="1.0.7"
   provider-name="xtUML.org"
   class="com.mentor.nucleus.bp.internal.tools.mcjava.Activator">

   <runtime>
      <library name="tools.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.mentor.nucleus.bp.core"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.filesystem"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="com.mentor.nucleus.bp.io.image"/>
      <import plugin="com.mentor.nucleus.bp.ui.explorer"/>
      <import plugin="org.eclipse.debug.core" version="3.5.1"/>
      <import plugin="org.eclipse.debug.ui" version="3.5.2"/>
      <import plugin="org.junit" version="3.8.2"/>
      <import plugin="org.eclipse.jdt.junit" version="3.5.2"/>
      <import plugin="org.eclipse.jdt.junit.runtime" version="3.4.100"/>
      <import plugin="com.mentor.nucleus.bp.debug.ui"/>
      <import plugin="com.mentor.nucleus.bp.io.core"/>
      <import plugin="com.mentor.nucleus.bp.io.mdl"/>
      <import plugin="com.mentor.nucleus.bp.utilities"/>
      <import plugin="com.mentor.nucleus.bp.mc"/>
   </requires>

   <extension
         id="MCJavaNature"
         name="model compiler nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.mentor.nucleus.bp.internal.tools.mcjava.MCJavaNature">
         </run>
      </runtime>
      <builder
            id="com.mentor.nucleus.bp.internal.tools.mc_java_export_builder">
      </builder>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
		<viewContribution 
			id="com.mentor.nucleus.bp.internal.tools.process.scrapeCodeChanges" 
			targetID="org.eclipse.team.sync.views.SynchronizeView">        
			<action 
				id="com.mentor.nucleus.bp.internal.tools.process.scrapeCodeChanges" 
				label="Scrape code changes" 
				menubarPath="additions"
				tooltip="Scrapes code changes implied by this view's current contents to the clipboard" 
				class="com.mentor.nucleus.bp.internal.tools.process.CodeChangesScraper"> 
			</action>
		</viewContribution>
	</extension>
 <extension
       point="org.eclipse.ui.popupMenus">
     <objectContribution
           objectClass="org.eclipse.core.resources.IFile"
           adaptable="true"
           id="com.mentor.nucleus.bp.internal.tools"
           nameFilter="*.int">
        <action
              class="com.mentor.nucleus.bp.internal.tools.process.ChangeSetCreator"
              enablesFor="1"
              id="com.mentor.nucleus.bp.internal.tools.process.ChangeSetCreator"
              label="Create Change Set">
        </action>
    </objectContribution>
     <viewerContribution
           id="com.mentor.nucleus.bp.internal.tools.viewerContribution1"
           targetID="com.mentor.nucleus.bp.ui.explorer.ExplorerView">
        <action
              class="com.mentor.nucleus.bp.internal.tools.actions.CreateTestProjectAndImportTestModel"
              id="com.mentor.nucleus.bp.internal.tools.action1"
              label="Create And Import Test Project..."
              menubarPath="additions">
        </action>
     </viewerContribution>
 </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.mentor.nucleus.bp.internal.tools.cleaner"
            objectClass="com.mentor.nucleus.bp.core.SystemModel_c">
         <action
               class="com.mentor.nucleus.bp.internal.tools.cleaner.CleanseForMCWorker"
               enablesFor="1"
               id="com.mentor.nucleus.bp.internal.tools.CleanseForMCWorker"
               label="Cleanse for Model Compiler"
               menubarPath="com.mentor.nucleus.bp.ui.context-internal">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.mentor.nucleus.bp.internal.tools.locateOrphanedInTree"
            objectClass="com.mentor.nucleus.bp.core.common.NonRootModelElement">
         <action
               class="com.mentor.nucleus.bp.internal.tools.actions.LocateOrphanedElementsInTreeAction"
               enablesFor="+"
               id="com.mentor.nucleus.bp.internal.tools.locateOrphanedInTreeAction"
               label="Locate Orphaned Elements"
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.mentor.nucleus.bp.internal.tools.objectContribution1"
            objectClass="com.mentor.nucleus.bp.core.SystemModel_c">
      </objectContribution>
   </extension>
 
   <extension
         point="org.eclipse.ui.views">
      <category
            name="BridgePoint"
            id="com.mentor.nucleus.bp.internal.InstancePopulation">
      </category>
      <view
            name="BP Instance Population Monitor"
            icon="icons/green-bp.gif"
            category="com.mentor.nucleus.bp.core.ui.viewcats.bp"
            class="com.mentor.nucleus.bp.internal.tools.views.BPInstancePopulationView"
            id="com.mentor.nucleus.bp.internal.tools.views.BPInstancePopulationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.mentor.nucleus.bp.internal.tools.views.BPInstancePopulationView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="BridgePoint"
            id="com.mentor.nucleus.bp.internal.InstancePopulation">
      </category>
      <view
            name="Instance Population Monitor"
            icon="icons/green-bp.gif"
            category="com.mentor.nucleus.bp.core.ui.viewcats.bp"
            class="com.mentor.nucleus.bp.internal.tools.views.BPInstancePopulationView"
            id="com.mentor.nucleus.bp.internal.tools.views.BPInstancePopulationView">
      </view>
   </extension>
   <extension
         id="mc_java_export_builder"
         name="Java Model Compiler Pre-Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
        <run class="com.mentor.nucleus.bp.internal.tools.mcjava.JavaExportBuilder" />
      </builder>
   </extension>
</plugin>
