<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
===================================================================
File:      $RCSfile: plugin.xml,v $
Version:   $Revision: 1.13 $
Modified:  $Date: 2013/06/24 14:49:12 $

(c) Copyright 2004-2014 by Mentor Graphics Corp. All rights reserved.

===================================================================
Licensed under the Apache License, Version 2.0 (the "License"); you may not 
use this file except in compliance with the License.  You may obtain a copy 
of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software 
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT 
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   See the 
License for the specific language governing permissions and limitations under
the License.
===================================================================
This file is the plugin manifest for the BridgePoint compare plugin.
===================================================================
-->
<plugin>

     <extension-point id="compareDifferencers" name="xtUML Compare Differencers" schema="schema/compareDifferencers.exsd"/>


   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.xtuml.bp.model.compare.contentmergeviewer.ModelContentMergeViewerCreator"
            extensions="xtuml"
            id="org.xtuml.bp.model.compare.contentmergeviewer.ModelContentMergeViewerCreator"
            label="Model Compare">
      </viewer>
      <viewer
            class="org.xtuml.bp.model.compare.contentmergeviewer.ActionLanguageMergeViewerCreator"
            extensions="OAL,oal_err"
            id="org.xtuml.bp.model.compare.ActionLanguageMergeViewer"
            label="Action Language Compare">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.xtuml.bp.model.compare.contentmergeviewer.ModelContentMergeViewerCreator"
            contentTypeId="org.xtuml.bp.model.compare.xtUML">
      </contentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts/contexts.xml"/>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
     <viewer
            class="org.xtuml.bp.model.compare.structuremergeviewer.StructureViewerCreator"
            extensions="xtuml"
            id="org.xtuml.bp.model.compare.structureViewer"
            label="BridgePoint Structural Difference View">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.xtuml.bp.model.compare.xtUML"
            structureMergeViewerId="org.xtuml.bp.model.compare.structureViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.xtuml.bp.model.compare.xtUML"
            file-extensions="xtuml">
      </file-association>
      <content-type
            id="org.xtuml.bp.model.compare.xtUML"
            name="xtUML model file"
            priority="high">
      </content-type>
   </extension>



</plugin>