<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.xtuml.bp.exportWizards.category"
            name="xtUML">
      </category>
      <wizard
            category="org.xtuml.bp.exportWizards.category"
            class="org.xtuml.bp.io.mdl.wizards.ModelExportWizard"
            icon="platform:/plugin/org.xtuml.bp.core/icons/green-bp.gif"
            id="org.xtuml.ExportWizard1"
            name="xtUML Model">
         <description>
            Export model data to a xtUML Model file
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.xtuml.bp.importWizards.category"
            name="xtUML">
      </category>
      <wizard
            category="org.xtuml.bp.importWizards.category"
            class="org.xtuml.bp.io.mdl.wizards.ModelImportWizard"
            icon="platform:/plugin/org.xtuml.bp.core/icons/green-bp.gif"
            id="org.xtuml.bp.ModelImportWizard"
            name="xtUML Model">
         <description>
            Import model data from a xtUML model file
         </description>
      </wizard>
   </extension>

</plugin>
