Ooaofooa.bpi.sql
metamodel_schema.sql
ooaofooa.sql
context_menu_schema.sql
context_menu.sql
wfl.pei.sql
Context_menu.bpi.sql
cme_actions.sql
cme_functions.pei.sql
cme_import.sql
ooaofooa_hierarchy_schema.sql
ooaofooa_hierarchy.sql
.cme_actions_last_build
ooaofooa_for_cme.sql
ooaofooa-*.sql
ooa_schema.sql
