<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.startup">
         <startup class="org.xtuml.bp.x2m.X2MPlugin"/>
     </extension>

     <extension
         id="org.xtuml.ui.x2m.Export"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.xtuml.bp.x2m.contribution1"
            objectClass="org.xtuml.bp.core.Package_c">
         <action
               class="org.xtuml.bp.x2m.actions.ExportProjectAction"
               enablesFor="1"
               id="org.xtuml.bp.x2m.ExportProjectAction"
               label="Export MASL Project"
               menubarPath="org.xtuml.bp.ui.context-internal">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.ExportMASLProject" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
      <objectContribution
            id="org.xtuml.bp.x2m.contribution2"
            objectClass="org.xtuml.bp.core.Package_c">
         <action
               class="org.xtuml.bp.x2m.actions.ExportDomainAction"
               enablesFor="1"
               id="org.xtuml.bp.x2m.ExportDomainAction"
               label="Export MASL Domains"
               menubarPath="org.xtuml.bp.ui.context-internal">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.ExportMASLDomains" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
      <objectContribution
            id="org.xtuml.bp.x2m.contribution3"
            objectClass="org.xtuml.bp.core.Component_c">
         <action
               class="org.xtuml.bp.x2m.actions.ExportDomainAction"
               enablesFor="1"
               id="org.xtuml.bp.x2m.ExportDomainAction"
               label="Export MASL Domain"
               menubarPath="org.xtuml.bp.ui.context-internal">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.ExportMASLDomain" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
      <objectContribution
            id="org.xtuml.bp.x2m.contribution4"
            objectClass="org.xtuml.bp.core.Deployment_c">
         <action
               class="org.xtuml.bp.x2m.actions.ExportProjectAction"
               enablesFor="1"
               id="org.xtuml.bp.x2m.ExportProjectAction"
               label="Export MASL Project"
               menubarPath="org.xtuml.bp.ui.context-internal">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.ExportMASLProject" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
