<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Sequence Capture"
            icon="../com.mentor.nucleus.bp.core/icons/green-bp.gif"
            category="com.mentor.nucleus.bp.core.ui.viewcats.bp"
            class="com.mentor.nucleus.bp.sequencecapture.views.SequenceCapture"
            id="com.mentor.nucleus.bp.sequencecapture.views.SequenceCapture">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
