/*_c.java
!Cl_c.java
!Gr_c.java
ModelOutlineSorter.java
DeltaEvent.java
IDeltaListener.java
ILogger.java
ModelDelta.java
ModelElement.java
NullDeltaListener.java
NullLogger.java
Ooaofgraphics.java
SystemLogger.java
InstanceList.java
NonRootModelElement.java
