Consistency.java
Identifiertest_c.java
Linkleftside_c.java
Linkrightside_c.java
Linktest_c.java
Singleformalizertest_c.java
Singleparticipanttest_c.java
Subtypeleft_c.java
Subtyperight_c.java
Supertypetest_c.java
