<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtuml.org/canvas/language/Canvas"
			class = "org.xtuml.canvas.language.canvas.CanvasPackage"
			genModel = "model/generated/Canvas.genmodel" />
	</extension>
</plugin>
