<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.mentor.nucleus.bp.debug.ui.BPApplication">
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.activity" value="true"/>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.deterministic" value="false"/>
<mapAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.models">
<mapEntry key="GPS Watch" value="24c4c6ef-38db-4499-b7d5-e79f13beda8b_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_6a0cc33b-29d6-416c-9738-4f8b906dc574_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_3984a0e4-a3de-4098-b5c1-d83203889e21_INTERNALTOKEN_1_INTERNALTOKEN_None_INTERNALTOKEN_enabled_TOKEN_c77335f2-4175-474d-aa51-f34050086656_INTERNALTOKEN_1_INTERNALTOKEN_8d9557a0-267a-4338-b241-e4125c9f945c_INTERNALTOKEN_enabled_TOKEN_"/>
</mapAttribute>
<booleanAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.simtime" value="false"/>
<intAttribute key="com.mentor.nucleus.bp.debug.ui.BPApplication.timeout" value="15"/>
</launchConfiguration>
