<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mentor.nucleus.bp.mc.mc3020.pkg"
   name="BridgePoint MC-3020 Model Compiler"
   version="4.0.3"
   provider-name="Mentor Graphics"
   class="com.mentor.nucleus.bp.mc.mc3020.pkg.Unreferenced">

   <runtime>
      <library name="pkg.jar"/>
   </runtime>
   <requires>
   </requires>
</plugin>
