<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="org.xtuml.bp.ui.sem"
   name="BridgePoint SEM Editor Plug-in"
   version="4.2.0"
   provider-name="xtUML.org"
   class="org.xtuml.bp.ui.sem.Activator">
   <runtime>
      <library name="sem.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.xtuml.bp.core"/>
      <import plugin="org.xtuml.bp.ui.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.xtuml.bp.ui.graphics"/>
   </requires>

   <extension
         point="org.xtuml.bp.ui.graphics.editorTab">
      <EditorTab
            EditorTabFactory="org.xtuml.bp.ui.sem.factories.SEMPageFactory"
            EditorTitle="State Event Matrix"
            Input="org.xtuml.bp.core.InstanceStateMachine_c">
      </EditorTab>
      <EditorTab
            EditorTabFactory="org.xtuml.bp.ui.sem.factories.SEMPageFactory"
            EditorTitle="State Event Matrix"
            Input="org.xtuml.bp.core.ClassStateMachine_c">
      </EditorTab>
   </extension>

</plugin>
