<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.mentor.nucleus.bp.io.core"
   name="BridgePoint IO Core Plug-in"
   version="4.2.1"
   provider-name="xtUML.org"
   class="com.mentor.nucleus.bp.io.core.CorePlugin">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="com.mentor.nucleus.bp.core"/>
      <import plugin="com.mentor.nucleus.bp.ui.canvas"/>
      <import plugin="com.mentor.nucleus.bp.ui.text"/>
      <import plugin="org.antlr"/>
      <import plugin="com.mentor.nucleus.bp.ui.explorer"/>
      <import plugin="com.mentor.nucleus.bp.ui.graphics"/>
      <import plugin="com.mentor.nucleus.bp.als.oal"/>
   </requires>
   <extension
         point="org.eclipse.help.contexts">
      <contexts file="contexts/contexts.xml"/>
      <contexts
            file="contexts/contexts.xml"
            plugin="org.eclipse.ui"/>
      <contexts
            file="contexts/contexts.xml"
            plugin="org.eclipse.ui.ide"/>
   </extension>
</plugin>
