<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
<!--  
      This was introduced to fix a bug in some customer models.   It is
      believed that all customers who needed it have now used it, therefore it 
      is no longer needed.  However, we are leaving the code here so it can
      be easily put back if needed.
      
      <objectContribution
            adaptable="true"
            id="com.mentor.nucleus.bp.utilities.FixMissingMatrixEntries"
            objectClass="com.mentor.nucleus.bp.core.common.NonRootModelElement">
         <action
               class="com.mentor.nucleus.bp.utilities.data.FixMissingMatrixEntryAction"
               enablesFor="1"
               id="com.mentor.nucleus.bp.utilities.FixMissingMatrixEntryAction"
               label="Fix Missing State Matrix Entries..."
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
-->

<!-- 
      This was introduced as a test when GEF graphics were added to help
      assure tree expansion was being done faster then prior versions.  
      It is being commented-out but left here for possible future use.
      
    <objectContribution
            adaptable="false"
            id="com.mentor.nucleus.bp.utilities.loadByExpansion"
            objectClass="com.mentor.nucleus.bp.core.common.NonRootModelElement">
         <action
               class="com.mentor.nucleus.bp.utilities.load.LoadByExpansionAction"
               enablesFor="1"
               id="com.mentor.nucleus.bp.utilities.loadByExpansion"
               label="Load System By Tree Expansion"
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
-->
      
      <objectContribution
            adaptable="false"
            id="com.mentor.nucleus.bp.utilities.loadAndPersist"
            objectClass="com.mentor.nucleus.bp.core.common.NonRootModelElement">
         <action
               class="com.mentor.nucleus.bp.utilities.load.LoadAndPersistAction"
               enablesFor="+"
               id="com.mentor.nucleus.bp.utilities.loadandPersist"
               label="Load and Persist"
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
     
      <objectContribution
            adaptable="true"
            id="com.mentor.nucleus.bp.utilities.IntegrityCheckContribution"
            objectClass="com.mentor.nucleus.bp.core.common.NonRootModelElement">
         <action
               class="com.mentor.nucleus.bp.utilities.actions.CheckModelIntegrity"
               enablesFor="+"
               id="com.mentor.nucleus.bp.utilities.CheckModelIntegrityAction"
               label="Check Model Integrity"
               menubarPath="com.mentor.nucleus.bp.utilities/com.mentor.nucleus.bp.utilities.separator">
         </action>
      </objectContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="com.mentor.nucleus.bp.utilities"
               label="BridgePoint Utilities">
            <separator
                  name="com.mentor.nucleus.bp.utilities.separator"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mentor.nucleus.bp.utilities.actionSet"
            label="BridgePoint Utilities"
            visible="true">
         <menu
               id="com.mentor.nucleus.bp.utilities.menu"
               label="BridgePoint Utilities">
            <separator
                  name="com.mentor.nucleus.bp.utilities.separator">
            </separator>
         </menu>
         <action
               id="com.mentor.nucleus.bp.utilities.upgradeWorkspaceProjectsAction"
               label="Upgrade workspace projects..."
               menubarPath="com.mentor.nucleus.bp.utilities.menu/com.mentor.nucleus.bp.utilities.separator"
               style="push">
            <class
                  class="com.mentor.nucleus.bp.utilities.upgrade.UpgradeWorkspaceProjects">
            </class>
         </action>
      </actionSet>
   </extension>

</plugin>
