<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.85 $
 Modified:  $Date: 2013/06/24 14:48:59 $

 (c) Copyright 2006-2013 by Mentor Graphics Corp. All rights reserved.

 ========================================================================
 This document contains information proprietary and confidential to
 Mentor Graphics Corp., and is not for external distribution.
 ========================================================================

-->
<plugin
   id="com.mentor.nucleus.bp.doc"
   name="BridgePoint Documentation Plug-in"
   version="4.0.6"
   provider-name="Mentor Graphics">

   <runtime>
   </runtime>

<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="topics_GettingStarted.xml">
      </toc>
      <toc
            file="topics_license.xml">
      </toc>
      <toc
            file="topics_Reference.xml">
      </toc>
   </extension>
</plugin>




