<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.85 $
 Modified:  $Date: 2013/06/24 14:48:59 $

 (c) Copyright 2006-2014 by Mentor Graphics Corp. All rights reserved.

 ========================================================================
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License.  You may obtain a copy
of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   See the
License for the specific language governing permissions and limitations under
the License.
 ========================================================================

-->
<plugin
   id="com.mentor.nucleus.bp.doc"
   name="BridgePoint Documentation Plug-in"
   version="4.2.1"
   provider-name="xtUML.org">

   <runtime>
   </runtime>

<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="topics_GettingStarted.xml">
      </toc>
      <toc
            file="topics_license.xml">
      </toc>
      <toc
            file="topics_Reference.xml">
      </toc>
   </extension>
</plugin>




