ActionTest.java
DisposeTest.java
RenameTest.java
DeleteTest.java
FormalizeUnformalizeTest.java
ActionTestGenerics.java
DisposeTestGenerics.java
RenameTestGenerics.java
DeleteTestGenerics.java
FormalizeUnformalizeTestGenerics.java
HandleRenameTestGenerics.java