<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.37 $
 Modified:  $Date: 2013/03/14 00:06:33 $

 (c) Copyright 2004-2014 by Mentor Graphics Corp.  All rights reserved.

-->
<plugin>

     <extension
         id="org.xtuml.bp.ui.canvas.test.editor"
         name="Test Diagram Editor"
         point="org.xtuml.bp.core.editors">
      <editor
            class="org.xtuml.bp.ui.graphics.editor.ModelEditor"
            input="org.xtuml.bp.ui.graphics.editor.GraphicalEditorInput">
         <symbol
               class="java.lang.Object"
               createMethod="createShape"
               elemType="org.xtuml.bp.ui.canvas.Ooatype_c.Shape"
               icon="newclass.gif"
               name="Shape"
               symbolType="shape">
            <color
                  b="255"
                  g="255"
                  r="255">
            </color>
         </symbol>
         <symbol
               class="java.lang.Object"
               createMethod="createConnector"
               elemType="org.xtuml.bp.ui.canvas.Ooatype_c.Connector"
               icon="newassoc.gif"
               name="Connector"
               symbolType="connector">
            <color
                  b="255"
                  g="255"
                  r="255">
            </color>
            <terminator
                  end="start"
                  name="Start Shape"
                  symbol="Shape"
                  symbolClass="java.lang.Object"
                  type="shape">
            </terminator>
            <terminator
                  end="end"
                  name="End Shape"
                  symbol="Shape"
                  symbolClass="java.lang.Object"
                  type="shape">
            </terminator>
            <terminator
                  end="start"
                  name="Start Connector"
                  symbol="Connector"
                  symbolClass="java.lang.Object"
				  terminatesAt="middle"
                  type="connector">
            </terminator>
            <terminator
                  end="end"
                  name="End Connector"
                  symbol="Connector"
                  symbolClass="java.lang.Object"
                  terminatesAt="middle"
                  type="connector">
			</terminator>
            <terminator
                  end="end"
                  name="Whitespace"
                  type="whitespace" />
            <terminator
                  end="start"
                  name="Whitespace"
                  type="whitespace" />
         </symbol>
         <symbol
               class="java.lang.Object"
               createMethod="createConnector"
               elemType="org.xtuml.bp.ui.canvas.Ooatype_c.Connector"
               icon="newassoc.gif"
               name="ConnectorTerminatingEnd"
               symbolType="connector">
            <color
                  b="255"
                  g="255"
                  r="255">
            </color>
            <terminator
                  end="start"
                  name="Start Shape"
                  symbol="Shape"
                  symbolClass="java.lang.Object"
                  type="shape">
            </terminator>
            <terminator
                  end="start"
                  name="Whitespace"
                  type="whitespace" />
            <terminator
                  end="end"
                  name="End Connector"
                  symbol="Connector"
                  symbolClass="java.lang.Object"
                  terminatesAt="end"
                  type="connector">
			</terminator>
         </symbol>
         <symbol
               class="java.lang.Object"
               createMethod="createConnector"
               elemType="org.xtuml.bp.ui.canvas.Ooatype_c.Connector"
               icon="newassoc.gif"
               name="ConnectorTerminatingStart"
               symbolType="connector">
            <color
                  b="255"
                  g="255"
                  r="255">
            </color>
            <terminator
                  end="start"
                  name="Start Connector"
                  symbol="Connector"
                  symbolClass="java.lang.Object"
				  terminatesAt="start"
                  type="connector">
            </terminator>
            <terminator
                  end="end"
                  name="End Shape"
                  symbol="Shape"
                  symbolClass="java.lang.Object"
                  type="shape">
			</terminator>
            <terminator
                  end="end"
                  name="Whitespace"
                  type="whitespace" />
         </symbol>
         <defaultFor
               class="java.lang.Object"
               modelType="org.xtuml.bp.ui.canvas.Modeltype_c.TestDiagram"
               name="Test Diagram"
               ooaType="org.xtuml.bp.ui.canvas.Ooatype_c.Diagram">
            <color
                  b="210"
                  g="209"
                  r="191">
            </color>
            <validSymbol name="Shape" tool_category="Symbols"/>
            <validSymbol name="Connector" tool_category="Symbols"/>
            <validSymbol name="ConnectorTerminatingStart" tool_category="Symbols"/>
            <validSymbol name="ConnectorTerminatingEnd" tool_category="Symbols"/>
         </defaultFor>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.xtuml.bp.ui.canvas.test.objectContribution1"
            objectClass="org.xtuml.bp.core.common.NonRootModelElement">
         <action
               class="org.xtuml.bp.ui.canvas.test.actions.OpenTestEditorAction"
               enablesFor="1"
               icon="platform:/plugin/org.xtuml.bp.core/icons/green-bp.gif"
               id="org.xtuml.bp.ui.canvas.test.actions.OpenGraphicsEditor"
               label="Open Test Editor"
               menubarPath="org.xtuml.bp.ui.openroot/org.xtuml.bp.ui.openmenu">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
