/*
 * Set up general font colours, sizes, etc.  Some of these will override
 * settings from the shared CSS
 */
.intro-header H1 {
	font-size : 15pt;
}

/*
 * Set up the content for the standby page.
 */
body {
	min-width : 230px;
	/* since IE doesn't support min-width, use expression */
	width:expression(document.body.clientWidth < 230? "230px": "auto" );
	background-color : #FFFFFF;

}

.page {

	background-image : url(graphics/rootpage/background.jpg);
	background-repeat : repeat-x;
	background-position : top left;
	min-width : 230px;
	/* since IE doesn't support min-width, use expression */
	width:expression(document.body.clientWidth < 230? "230px": "auto" );
 	min-height : 610px;
	height : 610;
	height : expression(document.body.clientHeight < 450? "450px": "100%" );
}

.standby {

	background-repeat : no-repeat;
	background-position : bottom left;
	min-width : 230px;
	/* since IE doesn't support min-width, use expression */
	width:expression(document.body.clientWidth < 230? "230px": "auto" );
 	min-height : 610px;
	height : 610;
	height : expression(document.body.clientHeight < 450? "450px": "100%" );
}

/*
 * Set up the navigation bar.  It should be centered in the middle
 * of the page
 */

#links-background {
	width : 100%;
 	margin-top : 10%;
	margin-bottom : auto;
	text-align : center;
}
<!-- link headings -->

#action-links a .link-label {
	font-size : 10pt;
	font-weight : 600;
	/*color : #FFCC00;*/
    color: #2e5790;
}

<!-- description text -->

#action-links a p .text {
	font-size : 10pt;
	font-weight : 500;
	SKB: color : #FFFFFF;
}

#page-links a {
	display : block;
	width : 220px;
	text-align : left;
	margin-left : auto;
	margin-right : auto;
	margin-top : 0px;
	vertical-align : top;
}
#page-links a span, #page-links a p {
	display : block;
	width : 160px;
	margin : 0px;
	padding : 0px;
}

/* Settings for main items on root page */
#page-links a .link-label {
	position : relative;
	left : 60px;
	top : -50px;

	font-size : 10pt;
	font-weight : 600;
    color: #2e5790;
}

#page-links a p .text {
	position : relative;
	left : 60px;
	top : -50px;

	font-size : 10pt;
	font-weight : 500;
	color : #919191;

}

#page-links a img {
	height : 52px;
	width : 52px;
	vertical-align : middle;
}

#page-links a:hover,
#page-links a:focus,
#page-links a:active  { border : 0px; }

#page-links a:hover p,
#page-links a:focus p,
#page-links a:active p  { margin : 0px; padding : 0px; }

/* properties for each of the page-links  */
/*a#quickstart img { background-image : url(graphics/icons/etool/tutorials48.gif); }*/
a#quickstart:hover img,
a#quickstart img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#quickstart:focus img,
a#quickstart img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#quickstart:active img { background-image : url(graphics/icons/ctool/tutorials48.gif); }*/

/*a#arrow img { background-image : url(graphics/icons/etool/arrow.gif); }*/
a#arrow:hover img,
a#arrow img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#arrow:focus img,
a#arrow img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#arrow:active img { background-image : url(graphics/icons/ctool/arrow.gif); }*/

/*a#license img { background-image : url(graphics/icons/etool/license.gif); }*/
a#license:hover img,
a#license img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#license:focus img,
a#license img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#license:active img { background-image : url(graphics/icons/ctool/license.gif); }*/

/*a#upgrade img { background-image : url(graphics/icons/etool/upgrade.gif); }*/
a#upgrade:hover img,
a#upgrade img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#upgrade:focus img,
a#upgrade img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#upgrade:active img { background-image : url(graphics/icons/ctool/upgrade.gif); }*/

/*a#release_notes img { background-image : url(graphics/icons/etool/upgrade.gif); }*/
a#release_notes:hover img,
a#release_notes img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#release_notes:focus img,
a#release_notes img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#release_notes:active img { background-image : url(graphics/icons/ctool/upgrade.gif); }*/

/*a#video img { background-image : url(graphics/icons/etool/demos48.gif); }*/
a#video:hover img,
a#video img { background-image : url(graphics/icons/etool/arrow_orange.gif); }
a#video:focus img,
a#video img { background-image : url(graphics/icons/ctool/arrow_blue.gif); }
/*a#video:active img { background-image : url(graphics/icons/ctool/demos48.gif); }*/
