<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="Core Test - Consistency (OSX)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="Core Test - System Level Tests (OSX)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="Core Test - RTO Move (OSX)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="Core Test (OSX)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="Core Test 2 (OSX)"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.action" value="NONE"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.name" value="TestVisibilityInElementChooser (OSX)"/>
</launchConfiguration>
