<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--  
   Only want one code builder present (with no user input required) 
   for mc3020.test.
   
   <extension point="org.xtuml.model-compilers">
      <model-compiler class="org.xtuml.internal.test.NewMCTestWizard1"
         name="New Model Compiler Test Wizard 1"/>
   </extension>

   <extension point="org.xtuml.model-compilers">
      <model-compiler class="org.xtuml.internal.test.NewMCTestWizard2"
         name="New Model Compiler Test Wizard 2"/>
   </extension>

   <extension point="org.xtuml.code-builders">
      <code-builder class="org.xtuml.internal.test.NewCBTestWizard1"
         name="New Code Builder Test Wizard 1"/>
   </extension>

   <extension point="org.xtuml.bp.core.code-builders">
      <code-builder class="org.xtuml.internal.test.NewCBTestWizard2"
         name="New Code Builder Test Wizard 2"/>
   </extension>
-->
</plugin>
