<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.xtuml.bp.utilities.MCMCFunctionGenerator"
            objectClass="org.xtuml.bp.core.Package_c">
         <action
               class="org.xtuml.bp.utilities.actions.GenerateFunctionsFromList"
               enablesFor="1"
               id="org.xtuml.bp.utilities.actions.MCMCFunctionGeneratorAction"
               label="Generate Functions From List..."
               menubarPath="org.xtuml.bp.utilities/org.xtuml.bp.utilities.separator">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.GenerateFunctionsFromList" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>

      <objectContribution
            adaptable="false"
            id="org.xtuml.bp.utilities.loadAndPersist"
            objectClass="org.xtuml.bp.core.common.NonRootModelElement">
         <action
               class="org.xtuml.bp.utilities.load.LoadAndPersistAction"
               enablesFor="+"
               id="org.xtuml.bp.utilities.loadandPersist"
               label="Load and Persist"
               menubarPath="org.xtuml.bp.utilities/org.xtuml.bp.utilities.separator">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.LoadandPersist" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
     
      <objectContribution
            adaptable="false"
            id="org.xtuml.bp.utilities.reconcileGraphics"
            objectClass="org.xtuml.bp.core.common.NonRootModelElement">
         <action
               class="org.xtuml.bp.utilities.load.ReconcileGraphicsAction"
               enablesFor="+"
               id="org.xtuml.bp.utilities.reconcilegraphics"
               label="Reconcile Graphics"
               menubarPath="org.xtuml.bp.utilities/org.xtuml.bp.utilities.separator">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.ReconcileGraphics" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
      
      <objectContribution
            adaptable="true"
            id="org.xtuml.bp.utilities.IntegrityCheckContribution"
            objectClass="org.xtuml.bp.core.common.NonRootModelElement">
         <action
               class="org.xtuml.bp.utilities.actions.CheckModelIntegrity"
               enablesFor="+"
               id="org.xtuml.bp.utilities.CheckModelIntegrityAction"
               label="Check Model Integrity"
               menubarPath="org.xtuml.bp.utilities/org.xtuml.bp.utilities.separator">
         </action>
         <visibility>
           <not>
             <systemProperty name="bridgepoint.CheckModelIntegrity" value="disabled"/>
           </not>
         </visibility>
      </objectContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=org.xtuml.bp.ui.context-internal">
         <menu
               id="org.xtuml.bp.utilities"
               label="BridgePoint Utilities">
            <separator
                  name="org.xtuml.bp.utilities.separator"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <!-- This feature is not used right now, but is being left in place because it will 
        likely be used again in the future.
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.xtuml.bp.utilities.actionSet"
            label="BridgePoint Utilities"
            visible="true">
         <menu
               id="org.xtuml.bp.utilities.menu"
               label="BridgePoint Utilities">
            <separator
                  name="org.xtuml.bp.utilities.separator">
            </separator>
         </menu>
         <action
               id="org.xtuml.bp.utilities.upgradeWorkspaceProjectsAction"
               label="Upgrade workspace projects..."
               menubarPath="org.xtuml.bp.utilities.menu/org.xtuml.bp.utilities.separator"
               style="push">
            <class
                  class="org.xtuml.bp.utilities.upgrade.UpgradeWorkspaceProjects">
            </class>
         </action>
      </actionSet>
   </extension>-->

</plugin>
